<div class="mb-4"> 
    <%= link_to "Joe Lonigro", "https://www.linkedin.com/in/joseph-lonigro-3165a793/", class: "acknowledgement-item", target:"_blank" %> 
    @
    <%=link_to "Brine Chicken", "https://www.brinechicken.com/", class: "acknowledgement-item", target:"_blank" %>
</div>
<div class="mb-4">
    <%= link_to "Steve Simoni", "https://www.linkedin.com/in/stevensimoni/", class: "acknowledgement-item", target:"_blank" %>
    @
    <%=link_to "Bbot", "https://bbot.menu/", class: "acknowledgement-item", target:"_blank" %>
</div>
<div class="mb-4"> 
    <%= link_to "Krystle Mobayeni", "https://www.linkedin.com/in/krystlemobayeni/", class: "acknowledgement-item", target:"_blank" %> 
    @
    <%= link_to "BentoBox", "https://getbento.com/", class: "acknowledgement-item", target:"_blank" %> 
</div>
<div class="mb-4"> 
    <%= link_to "Nabeel Alamgir", "https://www.linkedin.com/in/nabeeleats/", class: "acknowledgement-item", target:"_blank" %> 
    @ 
    <%= link_to "Lunchbox", "https://lunchbox.io/", class: "acknowledgement-item", target:"_blank" %> 
</div>
<div class="mb-4">
    <%= link_to "Amina Gilani", "https://www.linkedin.com/in/aminagilani/", class: "acknowledgement-item", target:"_blank" %>
    +
    <%= link_to "Thusenth Dhavaloganathan", "https://www.linkedin.com/in/thusenth/", class: "acknowledgement-item", target:"_blank" %> 
    @
    <%= link_to "Sociavore", "https://www.sociavore.co/", class: "acknowledgement-item", target:"_blank" %> </div>
<div class="mb-4"> 
    <%= link_to "Alex Beltrani", "https://www.linkedin.com/in/alex-beltrani-414b9312/", class: "acknowledgement-item", target:"_blank" %>
    @
    <%= link_to "Tattle", "https://get.tattleapp.com/", class: "acknowledgement-item", target:"_blank" %>
</div>