<div class="restaurants-container">
    <%= render partial: "layouts/header" %>

    <div class="restaurants-main-content">
        <div class="restaurants-table-container">
            <h1 class="heading"> The only way we defeat COVID-19 is to STAY AWAY FROM EACH OTHER </h1>
            <p> 
                But that’s the conundrum - distance can heal us, but it absolutely 
                crushes the local businesses that nourish our body, mind, and soul.
            </p>
            <p class="mb-8"> 
                And let’s face it - I’m a millennial living in a major metro. I can’t cook 
                and am totally spoiled by my smartphone. So how will I navigate the painful 
                challenge of figuring out what to eat???
                For those of you like me - who want to support local restaurants
                and aren’t on 100% Soylent diets (I am actually 90% bread and cheese, so...), 
                we put together this curated guide to ordering directly from local restaurants.
            </p>

            <h1 class="heading"> Our motivation </h1>
            <p> 
                The restaurant industry is in the midst of an existential crisis. 
                Many brands - small and large - filled with people who have spent their 
                lives ensuring we are fed and happy now face an uncertain future.
            </p>
            <p class="mb-8"> 
                Our family’s restaurant went through 9/11 and the worst recession since the 
                Great Depression, and only now, facing the repercussions of COVID-19, 
                have we actually seen them scared for the future.
            </p>

            <h1 class="heading"> If that’s not motivation enough, here’s a collection of other things we’ve gathered as the potential impact starts to sink in… </h1>
            <div class="flex flex-col mb-8 font-semibold">
                <%= link_to "Eater", "https://www.eater.com/2020/3/16/21182291/restaurants-wont-survive-coronavirus-pandemic-without-bail-out", target: "_blank" %>
                <%= link_to "New York Times", "https://www.nytimes.com/2020/03/16/dining/restaurants-coronavirus.html", target: "_blank" %>
                <%= link_to "Eater Food Critic", "https://twitter.com/qualityrye/status/1240071005005066240?s=20", target: "_blank" %>
                <%= link_to "David Chang (Momofuku)", "https://twitter.com/davidchang/status/1239628790227238915", target: "_blank" %>
                <%= link_to "Andrew Rigie (NYC Hospitality Alliance)", "https://twitter.com/AndrewRigie/status/1239283605219749889", target: "_blank" %>
                <%= link_to "OpenTable restaurant graphic", "https://twitter.com/ShaiDardashti/status/1238642577873596417", target: "_blank" %>
                <%= link_to "Pity insight on impact to industry", "https://twitter.com/McD_Truth/status/1238621627333726208", target: "_blank" %>
                <%= link_to "Preach", "https://twitter.com/kh/status/1240064407343755264", target: "_blank" %>
            </div>

            <h1 class="heading"> Acknowledgments </h1>
            <p> This effort wouldn’t be possible without (of course) the operators. We owe you our daily sustenance, and hope this plays even a small part in helping you recover.</p>
        </div>
    </div>
</div>