<div class="card">
    <div class="card-content">
        <div>
            <%= link_to restaurant.url, target: "_blank" do %>
                <h1 class="card-heading"> <%= restaurant.brand %> </h1>
                <div class="card-img" style="background-image: url(<%= image_url(restaurant.display_image) %>);"> </div>
            <% end %>
            <p class="card-description text-sm"> <%= image_tag "marker.svg", style: "max-width: 16px; max-height: 16px;" %> <%= restaurant.address %> </p>
            <div class="flex flex-wrap w-full mb-3">
            <% restaurant.tags.each do |tag| %>
                <p class="tag-infos border bg-gray-100 text-gray-600 mr-1 my-1 rounded px-4 py-1 text-xs"> <%= tag %> </p>
            <% end %>
            </div>
        </div>

        <div class="card-footer">
            <% if restaurant.url[0..3] == "http"  %>
                <%= link_to "Order Direct", restaurant.url, target: "_blank", class: "footer-item" %>
            <% else %>
                <p class="footer-item"> <%= restaurant.url %> </p>
            <% end %>
        </div>
    </div>
</div>