<div class="restaurants-container">
    <div class="header px-32 pb-12" style="background-color: #f0f0f0; height: 50vh;">
        <div class="navbar flex justify-between items-center h-12 mb-12 py-12">
            <%= link_to "Food", root_path, class: "font-semibold text-3xl" %>

            <div class="text-sm uppercase leading-none">
                <%= link_to "Food", "" , class: "mr-6 pb-2 border-b-2 border-gray-700 px-3" %>
                <%= link_to "Drinks", " px-3" %>
            </div>
        </div>

        <div class="content">
            <h1 class="text-5xl leading-tight font-black tracking-wide"> 
                Food Delivery in
                <br />
                New York City
            </h1>
        </div>
    </div>

    <div class="restaurants-main-content bg-white">
        <div class="h-20 flex items-center border-b px-32">
            <div class="w-auto mr-3 border-r pr-4"> 
                <span class="font-semibold pb-2 border-b-2 border-green-300"> Delivery </span> 
                <span class="mx-1 pb-2"> or </span>
                <span class="font-semibold pb-2"> Pickup </span>
            </div>
            <div class="w-4/12 font-semibold ml-3">
                <%= form_with model: Restaurant.new do |f| %>
                    <%= f.text_field :name, placeholder: 'New York City', class: "w-full focus:outline-none" %>
                <% end %>
            </div>
            <div class="flex-1 flex justify-end">
                <span class="rounded-full bg-gray-700 text-white w-auto px-6 py-3"> View Map </span>
            </div>
        </div>

        <div class="restaurants-table-container px-32 mt-16">
            <h1 class="text-3xl mb-6 font-semibold"> <span class="pb-2 border-b pr-6"> Nearby </span> </h1>

            <div>
                <% Restaurant.all.each do |restaurant| %>
                <div class="mb-4 flex justify-between items-center pb-4 border-b">
                    <div>
                        <h2 class="font-xl"> <%= restaurant.name %> </h2>
                        <p class="font-sm text-gray-500"> <%= restaurant.location %> </p>
                    </div>

                    <%= link_to "Check Restaurant", "", class: "rounded-full bg-gray-700 text-white w-auto px-6 py-3" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>