<div class="restaurants-container">
    <%= render partial: "layouts/header" %>

    <div class="restaurants-main-content">
        <div class="long-description"> 
            <p class="mb-2 font-semibold">The restaurant industry is in the midst of an existential crisis.  </p>
            <p class="mb-2"> People who have spent their lives ensuring we are fed and happy now face an uncertain future. </p>
            <p class="mb-2"> But it’s all good since third-party delivery companies are just waiving fees en masse to protect the very industry that’s helped them generate billions of dollars in shareholder value...right? </p>
            <p class="mb-2"> 
                <blockquote class="twitter-tweet"><p lang="en" dir="ltr">We are so fucked if the federal government doesn’t immediately pass a massive stimulus bill for the hospitality sector and small business in general. <br><br>Too many livelihoods at stake for partisan politics and ego to interfere with doing the right thing <a href="https://twitter.com/hashtag/toosmalltofail?src=hash&amp;ref_src=twsrc%5Etfw">#toosmalltofail</a> <a href="https://t.co/WCvj8yT5np">https://t.co/WCvj8yT5np</a></p>&mdash; Dave Chang (@davidchang) <a href="https://twitter.com/davidchang/status/1239628790227238915?ref_src=twsrc%5Etfw">March 16, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
            <p class="mb-2 font-semibold"> So put away the delivery app (seriously, delete it), order direct, and boost your local economy. Let’s gooooooo! </p>
        </div>
        <%= form_with url: restaurants_path, method: :get, local: true do |f| %>
            <div class="search-form">
                <div class="search-item-container"> <span> Search </span> </div>
                <div class="search-input-container">
                    <input type="text" name="q" onFocus="geolocate()" id="autocomplete" class="input" value="<%= params[:q] %>" placeholder="123 5th Avenue New York, NY 10022" />
                </div>
                <div class="seach-submit-button-container">
                    <%= f.submit "Find Restaurants", class: "submit-button" %>
                </div>
            </div>

        <div class="filters-contaniner">
            <div class="select-container">
                <%= select_tag "filter0", options_for_select([
                    "Breakfast", "Lunch", "Dinner", "Dessert", 
                    "Afternoon delight"], params[:filter0]), {prompt: "What meal?"} %>
            </div>
            <div class="select-container">
                <%= select_tag "filter1", options_for_select([
                    "Social distance", "Trapped with roommate", 
                    "Party indoors"], params[:filter1]), {prompt: "How many people?"} %>
            </div>
            <div class="select-container">
                <%= select_tag "filter2", options_for_select([
                    "Chillin with homies", "TREAT YO SELF", "Too cool for school", 
                    "It's a family affair", "Keep grindin", "Home comfort", 
                    "Your body is a temple", "Oh you fancy huh?"], params[:filter2]), {prompt: "What's the mood?"} %>
            </div>
            <div class="select-container">
                <%= select_tag "filter3", options_for_select([["$", 1], ["$$", 2], ["$$$", 3]], params[:filter3]), {prompt: "How much?"} %>
            </div>

            <!-- 
            <div class="select-container">
                <%# select_tag "filter1", options_for_select(["Yes", "No"]), {prompt: "Any deals?"} %>
            </div> 
            -->
        </div>
        <% end %>
        <div class="restaurants-table-container">
            <h1 class="heading"> Here are restaurants that deliver near you </h1>
            <% if @restaurants.any? %>
                <div class="cards-container">
                    <%= render @restaurants %>
                </div>
            <% else %>
                <p class="italic w-full mb-12"> Didn't find the restaurant you're looking for?
                    <a class="typeform-share button font-semibold bg-brand-green rounded-lg px-6 py-2 text-white mx-4" href="https://bikkyinc.typeform.com/to/qg3FJC"
                    data-mode="popup" target="_blank"> Suggest a Restaurant here! </a>
                    <%# data-auto-open=true %>
                </p>
                    <script> 
                        (function() { var qs,js,q,s,d=document, gi=d.getElementById, 
                        ce=d.createElement, gt=d.getElementsByTagName, 
                        id="typef_orm_share", b="https://embed.typeform.com/"; 
                        if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; 
                        js.src=b+"embed.js"; q=gt.call(d,"script")[0];
                        q.parentNode.insertBefore(js,q) } })()
                    </script>
            <% end %>
        </div>
    </div>
</div>