<div class="restaurants-container">
    <div class="header">
        <div class="navbar">
            <%= link_to "The Face Mask", root_path, class: "navbar-link" %>

            <div class="navbar-item-container">
                <%= link_to "Food", "" , class: "navbar-item" %>
            </div>
        </div>

        <div class="content">
            <h1 class="heading"> Food Delivery in <br /> New York City </h1>
        </div>
    </div>

    <div class="restaurants-main-content">
        <%= form_with url: restaurants_path, method: :get, local: true, class: "search-form" do |f| %>
            <div class="search-item-container"> <span> Search </span> </div>
            <div class="search-input-container">
                <input type="text" name="q" onFocus="geolocate()" id="autocomplete" class="input" placeholder="123 5th Avenue New York, NY 10022" />
            </div>
            <div class="seach-submit-button-container">
                <%= f.submit "Find Restaurants", class: "submit-button" %>
            </div>
        <% end %>

        <div class="restaurants-table-container">
            <h1 class="heading"> Here are restaurants that deliver near you </h1>

            <div class="cards-container">
                <% @restaurants.each do |restaurant| %>
                <div class="card">
                    <div class="card-header">
                        <h1> DEAL: </h1>
                        <p> 10% off Full Order</p>
                    </div>
                    <div class="card-content">
                        <div>
                            <h1 class="card-heading"> <%= restaurant.name %> </h1>
                            <div class="card-img" style="background-image: url('https://source.unsplash.com/collection/2138688/?sig=<%=restaurant.id%>}');"> </div>
                            <p class="card-description"> <%= truncate(restaurant.description, :length => 144) %> </p>
                        </div>
                        
                        <div class="card-footer">
                            <%= link_to "Order Direct", restaurant.url, target: "_blank", class: "footer-item" %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>