<div class="restaurants-container">
    <div class="header px-32 pb-12" style="background-color: #f0f0f0; height: 50vh;">
        <div class="navbar flex justify-between items-center h-12 mb-12 py-12">
            <%= link_to "Food", root_path, class: "font-semibold text-3xl" %>

            <div class="text-sm uppercase leading-none">
                <%= link_to "Food", "" , class: "mr-6 pb-2 border-b-2 border-gray-700 px-3" %>
                <%= link_to "Drinks", "", class: "px-3" %>
            </div>
        </div>

        <div class="content">
            <h1 class="text-5xl leading-tight font-black tracking-wide"> 
                Food Delivery in
                <br />
                New York City
            </h1>
        </div>
    </div>

    <div class="restaurants-main-content bg-white">
        <%= form_with url: restaurants_path, method: :get, local: true do |f| %>
        <div class="h-20 flex items-center border-b px-32">
            <div class="w-auto mr-3 border-r pr-8"> 
                <span class="font-semibold pb-2 border-b-2 border-green-300 px-2"> Search </span> 
            </div>
            <div class="w-4/12 font-semibold ml-3">
                <%= f.text_field :q, placeholder: '123 5th Avenue New York, NY 10022', class: "w-full focus:outline-none" %>
            </div>
            <div class="flex-1 flex justify-end">
                <%= f.submit "Find Restaurants", class: "rounded-full bg-gray-700 text-white w-auto px-6 py-3 inline-block" %>
            </div>
        </div>
        <% end %>

        <div class="restaurants-table-container px-32 mt-16">
            <h1 class="text-3xl mb-6 font-semibold"> <span class="pb-2 border-b pr-6"> Here are restaurants that deliver near you </span> </h1>

            <div class="flex-wrap grid grid-cols-3 gap-4">
                <% @restaurants.each do |restaurant| %>
                <div class="border-2 border-green-300 rounded p-4">
                    <h1 class="text-xl mb-2"> <%= restaurant.name %> </h1>
                    <div class="bg-cover bg-center bg-no-repeat w-full" style="height: 150px; background-image: url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');"> </div>
                    <p class="text-gray-600 text-justify mb-4"> <%= restaurant.description %> </p>
                <!--     <p> Filter: </p>
                    # <p> Distance: </p> -->
                    <%= link_to "Order Direct", "", class: "rounded-full bg-gray-700 text-white w-auto px-6 py-3 inline-block" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>