<div class="card">
    <div class="card-img" style="background-image: url(<%= picture_url(restaurant.partner) %>);"> </div>
    <div class="card-content">
        <div>
            <h1 class="card-heading"> <%= restaurant.brand %> </h1>
            <p class="card-description"> 
                <%= image_tag "marker.svg" %>
                <span> <%= restaurant.address.try(:titleize) %> </span>
            </p>
            <div class="flex flex-wrap w-full mb-3">
                <% restaurant.tags.each do |tag| %>
                    <p class="tag-info"> <%= tag %> </p>
                <% end %>
            </div>
        </div>

        <div class="card-footer">
            <%= link_to "See all locations", restaurant.partner, class: "footer-item" %>
        </div>
    </div>
</div>