<div class="header relative">
    <div class="navbar">
        <div class="navbar-start">
            <%= link_to image_tag "logo.png", alt: "Logo", title: "Home" %>
            <div class="links-container">
                <%= link_to "Project Quarantine", root_path, class: "navbar-link" %>
                <div>
                    <%= link_to "powered by Bikky", "https://bikky.com/", class: "navbar-url", title: "Visit bikky.com", target: "_blank" %>
                    &amp;
                    <%= link_to "FoodtoEat", "https://www.foodtoeat.com/", class: "navbar-url", title: "Visit foodtoeat.com", target: "_blank" %>
                </div>
            </div>
        </div>

        <div class="navbar-item-container">
            <%= link_to "All restaurants", root_path, class: "navbar-item" %>
            <%= link_to "About", pages_about_path, class: "navbar-item" %>
            <%= link_to "Suggest a Restaurant", "https://forms.gle/viD4gsHDrCNwxdtKA", class: "navbar-item", target: "_blank" %>
            <%= link_to "Guides", guides_path, class: "navbar-item" %>
        </div>
    </div>

    <div class="content">
        <h1 class="heading"> Your curated guide to <br /> eating during COVID-19 </h1>
    </div>
    
    <!-- 
    <div class="tabs-container"> 
        <%# link_to "All Restaurants", root_path, class: "tab-item #{is_tab_active?('restaurants')}" %>
        <%# link_to "Guides", guides_path, class: "tab-item #{is_tab_active?('guides')}" %>
    </div>
    -->
</div>