<div class="header relative">
    <div class="navbar">
        <div class="navbar-start">
            <%= link_to image_tag "logo.png", alt: "Logo", title: "Home" %>
            <div class="links-container">
                <%= link_to "Project Quarantine", root_path, class: "navbar-link" %>
                <div>
                    <%= link_to "powered by Bikky", "https://bikky.com/", class: "navbar-url", title: "Visit bikky.com", target: "_blank" %>
                    &amp;
                    <%= link_to "FoodtoEat", "https://www.foodtoeat.com/", class: "navbar-url", title: "Visit foodtoeat.com", target: "_blank" %>
                </div>
            </div>
        </div>

        <div class="navbar-item-container">
            <%= link_to "About", pages_about_path, class: "navbar-item" %>
            <%= link_to "Diner Guides", guides_path, class: "navbar-item" %>
            <a class="typeform-share button navbar-interactive-button" 
                href="https://bikkyinc.typeform.com/to/qg3FJC" 
                data-mode="popup" target="_blank"> 
                Submit a Restaurant
            </a> 
            <script> 
                (function() { 
                    var qs,js,q,s,d=document, 
                        gi=d.getElementById, ce=d.createElement, 
                        gt=d.getElementsByTagName, 
                        id="typef_orm_share", 
                        b="https://embed.typeform.com/"; 
                    
                    if(!gi.call(d,id)){ js=ce.call(d,"script");
                    js.id=id; js.src=b+"embed.js"; 
                    q=gt.call(d,"script")[0]; 
                    q.parentNode.insertBefore(js,q) } 
                })()
            </script>
        </div>
    </div>

    <div class="content">
        <h1 class="heading"> Order directly from <br /> local restaurants during COVID-19 </h1>
    </div>
</div>